src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="6ac198ae-5c5e-48a3-b297-b965f9f86c76" >
		<db:my-sql-connection host="sql6.freemysqlhosting.net" port="3306" user="sql6463789" password="KJpfTS8pVZ" database="sql6463789" />
	</db:config>
	<flow name="get_Hotels" doc:id="903b743e-f67d-483c-b004-f40c06e185a1" >
		<ee:transform doc:name="Transform Message" doc:id="8aa88270-50e1-48e8-b22c-1c5953d1a7b2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d8f92777-b588-4831-9d53-0220ff08bbfd" message="#[payload.body.GET_Hotels.City]"/>
		<db:select doc:name="Select" doc:id="1e47cca6-4eaf-4c99-b0c5-07321dfabcd0" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM Hotel_Details WHERE Location= :location]]></db:sql>
			<db:input-parameters ><![CDATA[#[location: payload.body.GET_Hotels.City]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="20be4a7a-38b5-4900-b40a-184da2e3f6e1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	hotels: {(payload map(obj, ind) -> {
    	hotel: {
    			hotel_id: obj.Hotel_id,
          		hotelname: obj.Hotel_Name,	
          		Room_Type: obj.Room_type,
          		Rating: obj.Rating,
          		Breakfast: obj.Breakfast,
          		Cancellation_Charges: obj.Cancellation_Charges,
          		price: obj.Price
          }})
       }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b2bb4b78-2874-489d-957c-4f817b2b51e1" message="#[payload]"/>
	</flow>
	<flow name="get_booking" doc:id="5133a272-34f7-4f95-a5b9-7335b699df02" >
		<ee:transform doc:name="Transform Message" doc:id="efffac5b-28fc-4d28-bee3-0601ca0f8002" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d5bdd832-5c2e-4000-b2ea-2d555e13ea19" message="#[payload.body.GET_Booking.Hotel_ID]"/>
		<db:select doc:name="Select" doc:id="ed3d4ff5-9d6a-4778-bd56-5e95703b8846" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM Hotel_Booking WHERE Hotel_ID= :hotel_id]]></db:sql>
			<db:input-parameters ><![CDATA[#[hotel_id: payload.body.GET_Booking.Hotel_ID]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="3294ee3b-8dd8-4f30-84a1-67da59600866" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	bookings:{
		(payload map(obj,ind) -> {
			booking:{
				hotel_id: obj.hotel_id,
				guest_name: obj.guest_name,
				age: obj.age,
				gender: obj.gender,
				check_in_date: obj.chech_in_date,
				check_out_date: obj.chech_out_date,
                email: obj.email,
                contact_number: obj.contact_number,
                no_of_guests: obj.no_of_guests
			}
		})
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9f16ca3d-f8d3-41a4-af05-3f620e611b0f" message="#[payload]"/>
	</flow>
	<flow name="add_booking" doc:id="c425710d-0058-4372-94a7-bb98eb2a17e5" >
		<ee:transform doc:name="Transform Message" doc:id="3a7ab886-cc56-4203-8291-46ba19e6b988" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="295f18d2-24ff-43a7-9b01-c22686e72188" message="#[payload]"/>
		<db:insert doc:name="Insert" doc:id="df0ecb94-26a7-4f6d-af2d-0c55ff6973c5" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO Hotel_Booking (Hotel_ID, Guest_Name, Age,Gender,Check_In_Date, Check_Out_Date,Email,No_Of_Guest,Contact_No) values (:hotel_id, :guest_name, :age, :gender, :chech_in_date, :chech_out_date, :email,  :no_of_guests, :contact_number)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	hotel_id: payload.body.ADD_Booking.Hotel_ID,
	guest_name: payload.body.ADD_Booking.Guest_Name,
	age: payload.body.ADD_Booking.Age,
	gender: payload.body.ADD_Booking.Gender,
	chech_in_date: payload.body.ADD_Booking.Check_In_Date,
	chech_out_date: payload.body.ADD_Booking.Check_Out_Date,
	email: payload.body.ADD_Booking.Email,
	no_of_guests: payload.body.ADD_Booking.No_Of_Guest,
	contact_number: payload.body.ADD_Booking.Contact_No
	
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="3c65842a-362b-40ff-a697-855573083b42" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	"message": "Congratulations! your booking is done"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="df103c23-d76a-41d8-b945-a23d19b80f3c" message="#[payload]"/>
	</flow>
	<flow name="deleteBooking" doc:id="ccf45342-9f2e-4377-9a73-b6376ca59a56" >
		<ee:transform doc:name="Transform Message" doc:id="95959c2f-a477-4a24-915a-05ed4ae54348" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d3b9715e-8bf8-45d7-b234-0b2e36ef7a83" />
		<db:delete doc:name="Delete" doc:id="d11216c2-54aa-45d0-ba3d-c0a8f779c46d" config-ref="Database_Config">
			<db:sql ><![CDATA[DELETE FROM Hotel_Booking WHERE Hotel_ID= :hotel_id]]></db:sql>
			<db:input-parameters ><![CDATA[#[hotel_id: payload.body.DELETE_Booking.Hotel_ID]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="5faebd9e-5aea-4692-ae5f-24c6cd389d83" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	"message": "Booking deleted successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c5af4d9c-1fcc-4ded-b7af-797504428e8b" />
	</flow>
</mule>
